body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;

	background-image: url(images/bg.jpg);

}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #CC0000;
}
a:active {
	text-decoration: none;
	color: #000000;
}


.container {
	width: 960px;
	background-image; url(images/ll.jpg);
	margin: 0 auto;
	 opacity:0.8
}



*/
.content {

	padding: 10px 0;
}


.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
